<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>bulletin_board - Add Post</title>
</head>
<body>


<h1>bulletin_board</h1>

{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endwith %}

<form action="" method="post">
Title:<br>
<input type="text" name="title" value="" placeholder="Insert title here">
<br>
Message:<br>
<input type="textarea" name="message" value="" placeholder="Write your message">
<br><br>
<input type="submit" value="Submit">
</form>


</body>
</html>
