<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>bulletin_board</title>
</head>
<body>

<h1>bulletin_board</h1>

    <p>
    {% if user %}
        Welcome, {{ user.username }}! - <a href="logout">Logout</a>
    {% else %}
        <a href="login">Login</a>
    {% endif %}
    </p>

    <ul id="posts">
    {% for post in posts %}
        <li>
            <a href="view/{{ post.id }}">
                {{ post.title }} -
                by {{ post.user.username }} -
                on {{ post.date_created.strftime('%B %d, %Y - %-I:%M%p') }}
            </a><br/>
            {{ post.message }}<br/>
            {{ post.comments|length }} comments

            {% if user and user.id == post.user_id %}
                -
                <a href="edit/{{ post.id }}">Edit</a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>

    <br />
    {% if user %}
        <a href="add">Add a new post.</a>
    {% endif %}
</body>
</html>
